@page "/Admin/Info"
@using WebAppBlazor.ViewModel.Admin
@inject IAdminViewModel adminViewModel

<h3>Administrator info</h3>

@if (error != null)
{
    <p><b>Error:&nbsp;</b>@error</p>

}

@if (adminInfo != null)
{
    <p>Nickname: @adminInfo.Nickname</p>
    <p>Role: @adminInfo.Role</p>
    <p>Created: @adminInfo.Created</p>
    <p>Id: @adminInfo.UserId</p>
}

@code {
    private string error;
    private Dto.Api.Response.User adminInfo;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            adminInfo = await adminViewModel.GetInfoAsync();
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}
