@page "/admin/info"
@using WebAppBlazor.ViewModel.Admin
@inject IAdminViewModel adminViewModel

@if (adminInfo != null)
{
    <h3>Administrator info</h3>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">Nickname:</div>
            <div class="col-sm-8"><b>@adminInfo.Nickname</b></div>
        </div>
        <div class="row">
            <div class="col-sm-4">Role:</div>
            <div class="col-sm-8">@adminInfo.Role</div>
        </div>
        <div class="row">
            <div class="col-sm-4">Created:</div>
            <div class="col-sm-8">@adminInfo.Created</div>
        </div>
        <div class="row">
            <div class="col-sm-4">Id:</div>
            <div class="col-sm-8">@adminInfo.UserId</div>
        </div>
    </div>
}

@if (error != null)
{
    <p><b>Error:&nbsp;</b>@error</p>

}

@code {
    private string error;
    private Common.Api.Response.User adminInfo;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            adminInfo = await adminViewModel.GetInfoAsync();
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}
